@import url(https://fonts.googleapis.com/css?family=Rubik);

body {
  background-color: #292B2F;
}

li {
  display: inline;
  float: left;
}

h1 {
  color: #3BBFC3;
  font-size: 100px;
  text-align: center;
  font-family: Rubik;
}

h3 {
  color: #3BBFC3;
  font-size: 20px;
  font-family: Rubik;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #018185;
  font-family: Rubik;
}

p {
  font-family: Rubik;
  color: #d7d5d9;
}

li a {
  display: block;
  color: #292B2F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d7d5d9;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.name {
  border-radius: 4px;
}

.email {
  border-radius: 4px;
}

.major {
  border-radius: 4px;
}

.minor {
  border-radius: 4px;
}

.gradyear {
  border-radius: 4px;
}

.updateinfo {
  background-color: #d7d5d9;
  font-size: 18px;
  color: #292B2F;
  border-color: #d7d5d9;
  border-radius: 8px;
  /* position: absolute;
   left: 225px;
  top: 400px; */
  font-family: Rubik;
}

.gotocollegewebsite {
  background-color: #d7d5d9;
  font-size: 18px;
  color: #292B2F;
  border-color: #d7d5d9;
  border-radius: 8px;
  /* position: absolute;
   left: 225px;
  top: 400px; */
  font-family: Rubik;
}

.logout {
  background-color: #d7d5d9;
  font-size: 18px;
  color: #292B2F;
  border-color: #d7d5d9;
  border-radius: 8px;
  position: absolute;
  left: 10px;
  top: 610px;
  font-family: Rubik;
}



select {
  font-family: Rubik;
  font-size: 13px;
}
