@import url(https://fonts.googleapis.com/css?family=Rubik);

body {
  background-color: #292B2F;
}


li {
  display: inline;
  float: left;
}

h1 {
  color: #3BBFC3;
  font-size: 100px;
  text-align: center;
  font-family: Rubik;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #018185;
  font-family: Rubik;
}

li a {
  display: block;
  color: #292B2F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d7d5d9;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /* padding: 10px; */
  font-family: Rubik;
  border: 1px solid purd;
  /* padding: 20px; */
  font-size: 20px;
  text-align: center;
}

label {
  font-family: Rubik;
  font-size: 70px;
}

a img {
  border: 0 none;
}

.link {
  text-decoration: none;
}

.i {
  font-size: 40px;
}

.simona {
  color: #3BBFC3;
}

.simona1 {
  color: #3BBFC3;
}

.harika {
  color: #3BBFC3;
}

.harika1 {
  color: #3BBFC3;
}

div {
  color: #d7d5d9
}

img {
  border-radius: 30px;
}
